*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.logo {
    width: 150px;
}

.nav-link {
    color: white;
}

/* section-1 */

.main {
    background: url(../assets/img/portada6.jpg) no-repeat;
    background-size: cover;
    height: 50vh;
    background-position: 50% 50%;
    width: 100%;
}

.main h1 {
    font-size: 3rem;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: purple;

}

.btn1 {
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: purple;
    color: white;
    font-weight: 700;
    border-radius: 60px;

}

/* section-2 */

.products h2{
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.btn2 {
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: purple;
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

.card:hover{
    box-shadow: 2px 1px 25px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 1px 25px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 1px 25px -4px rgba(0,0,0,0.75);
}

.products h6 {
    
    font-weight: bold;
}
.products p{
    font-weight: bold;
}

/* footer */

.news {
    background-color: purple;
    color: white;
}

.btn3 {
    height: 45px;
    width: 100px;
    background: white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: bold;
    color:purple;
}

.news input {
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    margin-top: 20px;
    font-weight: bold;
    background: purple;
    color: white;
}

.news p{
    margin: 0;
}

.fab {
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 5px;
}







